
-- Step 1: Immutable Logs for SaaS Compliance
CREATE OR REPLACE FUNCTION protect_logs() RETURNS TRIGGER AS \$\$
BEGIN
    IF (TG_OP = 'DELETE') THEN
        RAISE EXCEPTION 'Registros de Logs/Auditoria são imutáveis e não podem ser deletados.';
    ELSIF (TG_OP = 'UPDATE') THEN
        RAISE EXCEPTION 'Registros de Logs/Auditoria são imutáveis e não podem ser alterados.';
    END IF;
    RETURN NULL;
END;
\$\$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS trg_protect_system_logs ON logs;
CREATE TRIGGER trg_protect_system_logs 
BEFORE UPDATE OR DELETE ON logs 
FOR EACH ROW EXECUTE FUNCTION protect_logs();

RAISE NOTICE 'Trigger de proteção de logs aplicada com sucesso.';

